.formBox {
  width: 100%;
  
  .h4 {
    text-align: center;
  }

  .form {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.submitButton {
  align-items: center;
  font-family: ZenMaru;
}