@font-face {
    font-family: Playwrite;
    src: url('/fonts/Playwrite.ttf');
}

@font-face {
    font-family: ZenMaru;
    src: url('/fonts/ZenMaru.ttf');
}

header, footer {
    align-items: center;
    display: flex;
    flex-direction: column;   /* 縦並び */
}

:root {
    --background: #8cd7ff;
    --foreground: #222222;
    --a-default: #3f48ffcb;
    --a-hover: #4d56ffa9;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #000242;
        --foreground: rgba(255, 255, 241, 0.873);
        --a-default: #ffd6b0e7;
        --a-hover: #ffd52ddc;
    }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLinkTo {
    margin: auto 8px;
}

a {
    font-weight: 500;
    color: var(--a-default);
    text-decoration: inherit;
}
a:hover {
    color: var(--a-hover);
}

a, p, h3 {
    font-family: ZenMaru;
}

h1, h2, a.headerLinkTo {
    font-family: Playwrite;
}