.homeWidget {
    background-color: var(--background);
    aspect-ratio: 16 / 9;
    width: 100%;
    background-image: 
    linear-gradient(to right, var(--background) 0%, transparent 68%),
    url('src/_DSC0080.JPG');
    background-repeat: no-repeat;
    background-size: cover; /* 必要なら調整 */
    background-position: center;
}

h3.widgetTitle {
    font-size: 25px;
}

.widgetContent {
    margin: 0 40px;
    width: 49%;
}

div.spacer {
    height: 1px;
}